<nz-layout class="container__base">
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
    <div class="logo">
      <span *ngIf="! isCollapsed">INVORIOUS</span>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li 
        nz-submenu 
        [nzTitle]="routeHeader.name" 
        [nzIcon]="routeHeader.icon" 
        *ngFor="let routeHeader of routes"
      >
        <ul>
          <li 
            nz-menu-item
            [routerLink]="[ routeHeader.base + routeChild.route ]" 
            routerLinkActive="active"
            *ngFor="let routeChild of routeHeader.routes"
          >
            {{ routeChild.name }}
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <span class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
        (click)="isCollapsed = !isCollapsed"></span>

    </nz-header>
    <nz-content>
      <router-outlet></router-outlet>
    </nz-content>
    <nz-footer>Ant Design ©2020 Implement By Angular</nz-footer>
  </nz-layout>
</nz-layout>