nz-breadcrumb {
  margin: 16px 0;
}

.product-detail {
  margin-bottom: 3rem;
}

.detail-price {
  margin: 0;
}

[nz-form] {
  max-width: 600px;
}

button {
  margin-left: 8px;
}

.multiple-select {
  width: 100%;
}